# Data Manipulation & Math
pandas>=2.0.0
numpy>=1.24.0

# Natural Language Processing
spacy>=3.5.0
nltk>=3.8.1

# Machine Learning & Balancing
scikit-learn>=1.2.0
xgboost>=1.7.0
imbalanced-learn>=0.10.1

# Interpretability & Visualization
shap>=0.41.0
matplotlib>=3.7.0
joblib>=1.2.0